
<% @poems_by_month.each do |month_year, posts| %>
	<div class="gray"><img class="icon" src="images/dw_cal.png"><h2 class="date"><%= month_year %></h2>
		<% posts.each do |post| %>
		<p class="list"><img class="icon" src="images/dw_doc.png"><a href="/v/<%= post.id %>"><%= "%02d" % post.timestamp.month %>/<%= "%02d" % post.timestamp.day %> - <%= post.title %></a></p>
		<p class = "stamp"><img class="icon" src="images/dw_clock.png"><%= time_ago_in_words(post.timestamp)%> ago</p>
	<% end %></div>
<% end %>

