
<% @poems_by_month.each do |month_year, posts| %>
	<div class="gray"><img src="images/dw_cal.png" height="50px" width="50px" ><h2 class="date"><%= month_year %></h2>
		<% posts.each do |post| %>
		<p class="list"><img src="images/dw_doc.png" height="50px" width="50px" ><a href="/v/<%= post.id %>"><%= "%02d" % post.timestamp.month %>/<%= "%02d" % post.timestamp.day %> - <%= post.title %></a></p>
		<p class = "stamp"><img src="images/dw_clock.png" height="50px" width="50px" ><%= time_ago_in_words(post.timestamp)%> ago</p>
	<% end %></div>
<% end %>

